@import "tailwindcss";
@import "tw-animate-css";

/* GLOBALS */
html {
  position: relative;
  scrollbar-width: none;
}

@media (max-width: 1280px) {
  html {
    scroll-behavior: smooth;
  }
}

/* CUSTOM VARIANTS */
@custom-variant dark (&:is(.dark *));

/* BASE */
@layer base {
  * {
    @apply border-border outline-none;
  }

  body {
    @apply bg-background text-foreground;
    font-family: var(--font-sans);
  }
}

/* THEME */
@theme inline {
  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-soft: var(--card-soft);
  --color-muted: var(--muted);
  --color-border: var(--border);

  --color-brand-softer: var(--brand-softer);
  --color-brand-soft: var(--brand-soft);
  --color-brand-medium: var(--brand-medium);
  --color-brand: var(--brand);
  --color-brand-strong: var(--brand-strong);

  /* Animations */
  --animate-gradient: gradient 8s linear infinite;
  --animate-shiny-text: shiny-text 8s infinite;
  --animate-cell-ripple: cell-ripple var(--duration, 200ms) ease-out none 1 var(--delay, 0ms);

  /* Keyframes */
  @keyframes gradient {
    to {
      background-position: var(--bg-size, 300%) 0;
    }
  }

  @keyframes shiny-text {

    0%,
    90%,
    100% {
      background-position: calc(-100% - var(--shiny-width)) 0;
    }

    30%,
    60% {
      background-position: calc(100% + var(--shiny-width)) 0;
    }
  }

  @keyframes cell-ripple {
    0% {
      opacity: 0.4;
    }

    50% {
      opacity: 0.8;
    }

    100% {
      opacity: 0.4;
    }
  }

  /* KEYFRAMES */
  @keyframes fadePulse {

    0%,
    100% {
      opacity: 0.1;
    }

    50% {
      opacity: 0.5;
    }
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-33.333%);
    }
  }

  @keyframes marquee-reverse {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(33.333%);
    }
  }
}

/* ANIMATIONS */
.animate-marquee {
  animation: marquee 25s linear infinite;
}

.animate-marquee-reverse {
  animation: marquee-reverse 25s linear infinite;
}

/* ROOT LIGHT */
:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(0.99 0 0);
  --card-soft: oklch(0.97 0 0);
  --muted: oklch(0.556 0 0);
  --border: oklch(0.922 0 0);

  --brand-softer: var(--color-emerald-200);
  --brand-soft: var(--color-emerald-300);
  --brand-medium: var(--color-emerald-400);
  --brand: var(--color-emerald-800);
  --brand-strong: var(--color-emerald-900);
}

/* DARK MODE */
.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.16 0 0);
  --card-soft: oklch(0.23 0 0);
  --muted: oklch(0.708 0 0);
  --border: oklch(0.3 0 0);

  --brand-softer: var(--color-emerald-50);
  --brand-soft: var(--color-emerald-100);
  --brand-medium: var(--color-emerald-200);
  --brand: var(--color-emerald-600);
  --brand-strong: var(--color-emerald-700);
}

@utility btn {
  @apply px-6 sm:px-7 rounded-lg backdrop-blur-sm transition-all duration-300 flex items-center justify-center cursor-pointer
}

@utility main-button {
  @apply btn w-fit py-3 bg-white/80 dark:bg-white/5 border border-neutral-200 dark:border-white/10 hover:border-brand-medium dark:hover:border-brand hover:bg-white dark:hover:bg-white/8 text-neutral-800 dark:text-neutral-100 font-medium gap-2
}

@utility floating-button {
  @apply cursor-pointer flex h-10 w-10 items-center justify-center rounded-full bg-neutral-200/60 hover:bg-neutral-300/70 dark:bg-neutral-800/50 dark:hover:bg-neutral-700/60 backdrop-blur-sm transition-colors disabled:opacity-50 disabled:cursor-not-allowed
}

@utility section-container {
  @apply py-12 sm:py-16 container mx-auto px-4 sm:px-6 lg:px-8 w-full
}

@utility section-description {
  @apply max-w-2xl text-base sm:text-lg text-muted leading-relaxed
}

@utility main-card {
  @apply relative overflow-hidden rounded-lg border border-black/10 dark:border-white/10 bg-card backdrop-blur-md transition-all duration-300 hover:border-brand-strong dark:hover:border-brand-strong
}

@utility second-card {
  @apply relative h-full flex items-center pointer-events-none backdrop-blur-sm bg-card border border-border/50 hover:border-brand-strong rounded-lg px-4 py-2.5 transition-all duration-300 hover:bg-card/40 hover:shadow-sm hover:shadow-brand-softer
}

@utility stack-column {
  @apply flex flex-col gap-2
}

@utility stack-row {
  @apply flex flex-row gap-2
}

@utility input-field {
  @apply w-full rounded-lg border focus:border-brand transition-all duration-300 px-4 py-2 bg-card placeholder:text-muted text-sm
}

@utility error-message {
  @apply text-red-800 dark:text-red-200 text-sm
}